p{
    font-size: 40px;
    font-weight: bold
}

.shadow-text {
  text-shadow: -4px 4px 5px rgb(255, 0, 0);
}

.uppercase-text {
  text-transform: uppercase;
}

.underline-text {
  text-decoration: underline;
}

.spacing-text {
  word-spacing: 50px;
}
