*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 20px;
}


h1 {
  text-align: center;
  color: #333;
}

.section {
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4caf50;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #4caf50;
}
