.container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

/* 3 أعمدة للشاشات الكبيرة */
@media (min-width: 1025px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* عمودين للشاشات المتوسطة */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* عمود واحد للشاشات الصغيرة */
@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.column {
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: all .3s ease;
}
.column:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}